@media (min-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}
html, body {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url("Space-Balloon.jpg");
  background-size: cover;
  background-position: center;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.sponsors {
  display: block;
  width: 40%;
  height: 40%;
  margin: 40px auto 40px;
  border-radius: 10%;
}
.team {
  display: block;
  width: 80%;
  height: 80%;
  margin: 40px auto 40px;
  border-radius: 10%;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}
.column4 {
  float: left;
  width: 25%;
  padding: 5px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.picture1 {
  display: inline;
  height: 100%;
  width: 100%;
}
.picture2 {
  display: inline;
  height: 49%;
  width: 49%;
}
.container {
  font-size: 19px;
}
.link {
  text-align: center;
}
.footer {
  margin: 40px 0;
}
.scrolltext {
  position: relative;
  top: 35vh;
  color: #0d7ded;
  font-size: 3vh;
  font-weight: bold;
}
.unorderlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.orderlist {
  float: left;
}
.video {
  text-align: center;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #0d7ded;
}
nav {
  display: block;
  width: 25px;
  margin: 0 auto;
}
h1 {
  /* hotpink = #FF69B4 */
  color: #0d7ded;
  font-size: 9vh;
  font-weight: bold;
}
h3 {
  text-align: center;
  margin: 20px
}
embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
